@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;900&display=swap");

:root {
  --clr-teal: hsl(192, 37%, 48%);
  --clr-purple: hsl(268, 34%, 53%);
  --clr-verydarkblue: hsl(240, 21%, 20%);
  --clr-gray: hsl(240, 10%, 57%);
  --clr-blue: hsl(192, 90%, 77%);
  --clr-pink: hsl(268, 100%, 86%);
  --clr-white: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--clr-white);
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

header {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

header img {
  margin: 80px auto 64px;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  margin: 24px auto;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}

h3 {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--clr-teal, teal);
}

.button {
  color: var(--clr-white);
  display: inline-block;
  border: none;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 900;
  padding: 16px 42px;
  text-decoration: none;
  cursor: pointer;
  margin: 8px;
  transition: opacity 0.25s ease;
}

.button span {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.75;
}

.button--green {
  background-color: var(--clr-teal);
}

.button--purple {
  background-color: var(--clr-purple);
}

.hero {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-bottom: 214px;
}

.hero__image__left {
  background: url("./assets/desktop/image-hero-left.png") no-repeat left;
  background-size: contain;
  max-width: 100%;
}

.hero__image__right {
  background: url("./assets/desktop/image-hero-right.png") no-repeat right;
  background-size: contain;
  float: right;
  clear: right;
  width: 100%;
}

.hero__content {
  text-align: center;
}

p {
  color: var(--clr-gray);
}

.meetings {
  margin: 92px auto 184px;
  max-width: 1110px;
  text-align: center;
}

.meetings__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 80px;
}

.meetings__image {
  border-radius: 8px;
  width: 100%;
}

.meetings__content {
  width: 540px;
  margin: auto;
}

footer {
  background-image: url("./assets/desktop/image-footer.jpg");
  background: linear-gradient(
      hsla(192, 37%, 48%, 90%),
      hsla(192, 37%, 48%, 90%)
    ),
    url("./assets/desktop/image-footer.jpg") no-repeat center;
  background-size: cover;
  color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 72px;
  width: 100vw;
  max-width: 1440px;
}

footer h2 {
  width: 350px;
}

.footer__content {
  width: 350px;
}

/* ---------- SPECIAL ---------- */
.numbering {
  color: var(--clr-gray);
  font-size: 16px;
  font-weight: 900;
  border: 1px solid hsla(240, 10%, 57%, 25%);
  border-radius: 29px;
  width: 56px;
  height: 56px;
  text-align: center;
  position: relative;
  padding: 14px;
  margin: -32px auto;
  background-color: #ffffff;
  z-index: 100;
}

.numbering__text {
  margin: -84px auto;
}

.numbering:before {
  content: "";
  display: block;
  position: relative;
  top: -98px;
  left: 50%;
  border: 1px solid hsla(240, 10%, 57%, 50%);
  opacity: 0.25;
  width: 1px;
  height: 84px;
}

/* TABLET */

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 48px;
  }

  .container {
    max-width: 768px;
    margin: auto;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left right"
      "bottom bottom";
  }

  .hero__image__left {
    grid-area: left;
  }
  .hero__image__right {
    grid-area: right;
  }
  .hero__content {
    grid-area: bottom;
    max-width: 457px;
    margin: auto;
  }

  .meetings {
    max-width: 689px;
  }

  .meetings__images {
    gap: 12px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    max-width: 768px;
  }

  .footer__content {
    width: 573px;
    margin-bottom: 32px;
  }
}

/* MOBILE */

@media screen and (max-width: 650px) {
  h1 {
    font-size: 40px;
    margin-top: -110px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  header img {
    margin: 40px auto 32px;
  }

  .container {
    max-width: 375px;
    margin: auto;
  }

  .hero {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left"
      "bottom";
    margin-bottom: 160px;
  }

  .hero__image__left {
    height: 153px;
    text-align: center;
    background: url("./assets//tablet/image-hero.png") no-repeat center;
    background-size: contain;
  }

  .hero__image__right {
    display: none;
  }
  .hero__content {
    grid-area: bottom;
    max-width: 375px;
    margin: auto;
  }

  .meetings {
    max-width: 350px;
  }

  .meetings__images {
    gap: 18px;
    flex-wrap: wrap;
  }

  .meetings__image {
    flex: 0 0 45%;
  }

  .meetings__content {
    max-width: 90%;
  }

  footer {
    flex-direction: column;
    text-align: center;
    max-width: 375px;
    background-image: url("./assets/mobile/image-footer.jpg");
    background: linear-gradient(
        hsla(192, 37%, 48%, 90%),
        hsla(192, 37%, 48%, 90%)
      ),
      url("./assets/mobile/image-footer.jpg") no-repeat top;
    background-size: cover;
  }

  .footer__content {
    max-width: 100%;
    margin-bottom: 32px;
  }
}
