/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;900&display=swap");

:root {
  --clr-teal: hsl(192, 37%, 48%);
  --clr-purple: hsl(268, 34%, 53%);
  --clr-verydarkblue: hsl(240, 21%, 20%);
  --clr-gray: hsl(240, 10%, 57%);
  --clr-blue: hsl(192, 90%, 77%);
  --clr-pink: hsl(268, 100%, 86%);
  --clr-white: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.125rem; /* 18px */
  line-height: 1.625rem; /* 26px */
  font-weight: 400;
  background-color: var(--clr-white);
  color: var(--clr-verydarkblue);
}

.container {
  max-width: 90rem; /* 1440px */
  margin: auto;
  overflow: hidden;
}

header {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

header img {
  margin: 5rem auto 4rem; /* 80px 64px */
}

h1,
h2,
.overline {
  font-weight: 900;
}

h1 {
  font-size: 4rem; /* 64px */
  line-height: 4rem; /* 64px */
  margin: 1.5rem /* 24px */ auto;
}

h2 {
  font-size: 2.5rem; /* 40px */
  line-height: 2.75rem; /* 44px */
  max-width: 15ch;
  margin: auto;
}

.overline {
  font-size: 1rem; /* 16px */
  letter-spacing: 0.25rem; /* 4px */
  text-transform: uppercase;
  color: var(--clr-teal, teal);
}

.button {
  color: var(--clr-white);
  display: inline-block;
  border: none;
  border-radius: 2.25rem; /* 36px */
  font-size: 1rem; /* 16px */
  font-weight: 900;
  padding: 1rem 2.625rem; /* 16px 42px */
  text-decoration: none;
  cursor: pointer;
  margin: 0.5rem; /* 8px */
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button span {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.75;
}

.button--green {
  background-color: var(--clr-teal);
}

.button--purple {
  background-color: var(--clr-purple);
}

.hero {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-bottom: 13.375rem; /* 214px */
}

.hero__image__left {
  background: url("./assets/desktop/image-hero-left.png") no-repeat left;
  background-size: contain;
  max-width: 100%;
}

.hero__image__right {
  background: url("./assets/desktop/image-hero-right.png") no-repeat right;
  background-size: contain;
  float: right;
  clear: right;
  width: 100%;
}

.hero__content {
  text-align: center;
}

p {
  color: var(--clr-gray);
}

.meetings {
  margin: 5.75rem auto 11.5rem; /* 92px 184px */
  max-width: 69.375rem; /* 1110px */
  text-align: center;
}

.meetings__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1.875rem; /* 30px */
  margin-bottom: 5rem; /* 80px */
}

.meetings__image {
  border-radius: 0.5rem; /* 8px */
  width: 100%;
}

.meetings__content {
  width: 33.75rem; /* 540px */
  margin: auto;
}

footer {
  background-image: url("./assets/desktop/image-footer.jpg");
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(192, 37%, 48%, 90%)),
      to(hsla(192, 37%, 48%, 90%))
    ),
    url("./assets/desktop/image-footer.jpg") no-repeat center;
  background: -o-linear-gradient(
      hsla(192, 37%, 48%, 90%),
      hsla(192, 37%, 48%, 90%)
    ),
    url("./assets/desktop/image-footer.jpg") no-repeat center;
  background: linear-gradient(
      hsla(192, 37%, 48%, 90%),
      hsla(192, 37%, 48%, 90%)
    ),
    url("./assets/desktop/image-footer.jpg") no-repeat center;
  background-size: cover;
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 4.5rem; /* 72px */
  width: 100vw;
  max-width: 90rem; /* 1440px */
}

footer h2 {
  width: 21.875rem; /* 350px */
}

.footer__content {
  width: 21.875rem; /* 350px */
}

/* ---------- SPECIAL ---------- */
.numbering {
  color: var(--clr-gray);
  font-size: 1rem; /* 16px */
  font-weight: 900;
  border: 0.0625rem /* 1px */ solid hsla(240, 10%, 57%, 25%);
  border-radius: 1.8125rem; /* 29px */
  width: 3.5rem; /* 56px */
  height: 3.5rem; /* 56px */
  text-align: center;
  position: relative;
  padding: 0.875rem; /* 14px */
  margin: -2rem /* -32px */ auto;
  background-color: #ffffff;
  z-index: 100;
}

.numbering__text {
  margin: -5.25rem /* -84px */ auto;
}

.numbering:before {
  content: "";
  display: block;
  position: relative;
  top: -6.125rem; /* -98px */
  left: 50%;
  border: 0.0625rem /* 1px */ solid hsla(240, 10%, 57%, 50%);
  opacity: 0.25;
  width: 0.0625rem; /* 1px */
  height: 5.25rem; /* 84px */
}

/* TABLET */

@media screen and (max-width: 68.75rem /* 1100px */) {
  h1 {
    font-size: 3rem; /* 48px */
  }

  .container {
    max-width: 48rem; /* 768px */
    margin: auto;
  }

  .hero {
    -ms-grid-columns: 1fr 0rem 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0rem 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0rem 0rem; /* 0px 0px */
    grid-template-areas:
      "left right"
      "bottom bottom";
  }

  .hero__image__left {
    grid-area: left;
  }
  .hero__image__right {
    grid-area: right;
  }
  .hero__content {
    grid-area: bottom;
    max-width: 28.5625rem; /* 457px */
    margin: auto;
  }

  .meetings {
    max-width: 43.0625rem; /* 689px */
  }

  .meetings__images {
    gap: 0.75rem; /* 12px */
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 48rem; /* 768px */
  }

  .footer__content {
    width: 35.8125rem; /* 573px */
    margin-bottom: 2rem; /* 32px */
  }
}

/* MOBILE */

@media screen and (max-width: 40.625rem /* 650px */) {
  h1 {
    font-size: 2.5rem; /* 40px */
    margin-top: -6.875rem; /* -110px */
  }

  h2 {
    font-size: 2rem; /* 32px */
    line-height: 2.25rem; /* 36px */
  }

  header img {
    margin: 2.5rem auto 2rem; /* 40px 32px */
  }

  .container {
    max-width: 23.4375rem; /* 375px */
    margin: auto;
  }

  .hero {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: 1fr 0rem 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0rem 0rem; /* 0px 0px */
    grid-template-areas:
      "left"
      "bottom";
    margin-bottom: 10rem; /* 160px */
  }

  .hero__image__left {
    height: 9.5625rem; /* 153px */
    text-align: center;
    background: url("./assets//tablet/image-hero.png") no-repeat center;
    background-size: contain;
  }

  .hero__image__right {
    display: none;
  }
  .hero__content {
    grid-area: bottom;
    max-width: 23.4375rem; /* 375px */
    margin: auto;
  }

  .meetings {
    max-width: 21.875rem; /* 350px */
  }

  .meetings__images {
    gap: 1.125rem; /* 18px */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .meetings__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }

  .meetings__content {
    max-width: 90%;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 23.4375rem; /* 375px */
    background-image: url("./assets/mobile/image-footer.jpg");
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(hsla(192, 37%, 48%, 90%)),
        to(hsla(192, 37%, 48%, 90%))
      ),
      url("./assets/mobile/image-footer.jpg") no-repeat top;
    background: -o-linear-gradient(
        hsla(192, 37%, 48%, 90%),
        hsla(192, 37%, 48%, 90%)
      ),
      url("./assets/mobile/image-footer.jpg") no-repeat top;
    background: linear-gradient(
        hsla(192, 37%, 48%, 90%),
        hsla(192, 37%, 48%, 90%)
      ),
      url("./assets/mobile/image-footer.jpg") no-repeat top;
    background-size: cover;
  }

  .footer__content {
    max-width: 100%;
    margin-bottom: 2rem; /* 32px */
  }

  .hero__image__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .hero__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media screen and (max-width: 68.75rem) {
  .hero__image__left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .hero__image__right {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .hero__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .hero__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media screen and (max-width: 40.625rem) {
  .hero__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
